<div class="row">

    <div class="col-md-4">
        
        <div class="card" style="width: 50rem;">
            <img class="card-img-top" src="/images/vinyl3.jpeg" alt="Profile picture">
                <div class="card-body">
                    <h5 class="card-title text-dark">¡Hola, Patylla!</h5>
                </div>
        </div>

        <div class="col-md-6">

        </div>
    </div>

</div>