<div class="row profile-container">

    <div class="col-md-3">
        <div class="card profile" style="width: 18rem">
            <img class="card-img-top" src="{{user.picture}}" alt="Profile picture">
            <div class="card-body">
                <h5 class="card-title welcome text-dark">¡Hola, {{user.name}}!</h5>
            </div>
        </div>
    </div>

</div>

<div class="row options-container">
    <div class="col-md-4 shop-profile">
        <h1 class="text-dark text-center">Tiendas cerca de ti</h1>
        <a href="/places"><button type="button" class="btn btn-secondary btn-lg">Ver</button></a>
    </div>

    <div class="col-md-4 vinil-profile">
        <h1 class="text-dark text-center">Vende tus vinilos</h1>
  <a href="/shop"><button type="button" class="btn btn-secondary btn-lg ">Vender</button></a>
    </div>

    <div class="col-md-4">
        <h1 class="text-dark text-center">Añade tu album favorito</h1>
        <a href="/music"><button type="button" class="btn btn-secondary btn-lg justify-content-center">Añadir</button></a>
    </div>
</div>