<div class="home">
    
<h1>{{siteTitle}} <img class="logo-img" src="/images/discos-compactos.svg" width="120" height="120" class="d-inline-block align-top" alt="vinyl disc logo"></h1> 
<p>Una app para los amantes de los vinilos en Madrid.</p>
<p>Aquí podrás comprar, vender y conocer las tiendas más cercanas.</p>
<a href="/shop" class="btn btn-lg btn-home btn-light">Tienda</a>
<a href="/places" class="btn btn-lg btn-home btn-light">Cerca de ti</a>
</div>

