<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-md bg-transparent">

    <a class="navbar-brand text-white" href="/"> RND</a>
    <img class="logo-img" src="/images/discos-compactos.svg" width="30" height="30" class="d-inline-block align-top" alt="vinyl disc logo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/shop">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/places">Cerca de ti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase"  href="/login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/signup">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/logout">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container">
    {{{body}}}
  </main>

  <script src="/javascripts/script.js"></script>
</body>

</html>