body {
  font-weight: 200;
  font-family: 'Hind Siliguri', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/images/vinyl3.jpeg');
  color: white;
  // background-size: cover;
}

h1, h2, h3 {
  font-weight: 200;
}

.title-view {
  font-weight: 700;
  font-size: 2.5em;

}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 5px;
}

// ---- NAVIGATION ------
.navbar {
  padding: 30px;
  margin-bottom: 70px;
  margin: 0 50px;
  font-size: 1.2em;
  font-weight: 700;

  .navbar-brand {
    font-size: 1.5em;
  }

  li {
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 10px;

    :hover {
      text-decoration: underline;  
    }
  }

  .logo-img {
    margin-right: 10px;
  }
}

// --- HOME ----
.home {
  text-align: center;

  h1 {
  font-weight: 700;
  font-size: 6em;
  padding-top: 250px;
  }

  p {
    font-size: 2em;
  }
}
// --- AUTH ------
.signup {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4);

  .btn-signup {
    font-weight: 600;
  }
}

.login {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4);

  .btn-login {
    font-weight: 600;
  }
}

.form-control {
  background-color: rgb(62, 62, 62);
  border: none;
  border-radius: none;
  color:white;

}

.profile-container {
  border-radius: 10px;
  padding: 40px;

  .profile {
    border: none;
  }
  .welcome {
    font-size: 2.5em;
  }
}

.option-container {
padding: 20px;
margin: 20px;
}

// ------ SHOP -------
.shop-index {
  padding: 30px;

  .products {
    margin: 15px;
    background-color: none;
    
    .card-product {
      color: black;
      background-color: white;
      justify-content: center;
    }
    .btn-product {
      font-weight: 600;
    }
    .card-img-top {
      height: 250px;
      object-fit: cover;
      object-position: center;
    } 
  }
}
  .product-details {
    margin-top: 50px;

    h4 {
      margin: 20px;
    }
    .btn-buy{
      text-transform: uppercase;
    }
    .btn-edit {
      margin: 10px;
    }

    // .details {
    //   justify-content: space-around;
    //   align-items: center;
    //   align-content: space-between;
    // }
  }


// -- PLACES --
#myMap {
  justify-content: center;
  width: 800px;
  height: 300px;
  background-color: grey;
}

.place {
  margin-bottom: 25px;

  h4 {
    text-align: center;
    font-weight: 600;
  }
}

.btn-new {
  font-weight: 600;
  margin: 10px;
  margin-bottom: 50px;
  font-size: 1.1em;
}

.btn-back {
  font-weight: 600;
  margin: 10px;
  font-size: 1.1em;
  margin-bottom: 50px;
}

.input-localization {
  margin-bottom: 15px;
}

.product-index{

  img {
    width: 400px;
  }

.message-field {
  height: 150px;
}

.buying {

  text-align: center;

  img {
    width: 50%;
    margin: 20px 0;
    }
}
}