body {
  font-weight: 200;
  font-family: 'Hind Siliguri', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/images/vinyl3.jpeg');
  color: white;
  // background-size: cover;
}

h1, h2, h3 {
  font-weight: 200;
}

.title-view {
  font-weight: 700;
  font-size: 2.5em;

}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 5px;
}

// ---- NAVIGATION ------
.navbar {
  padding: 30px;
  margin-bottom: 70px;
  margin: 0 50px;
  font-size: 1.2em;
  font-weight: 700;

  .navbar-brand {
    font-size: 1.5em;
  }

  li {
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 10px;

    :hover {
      text-decoration: underline;  
    }
  }

  .logo-img {
    margin-right: 10px;
  }
}

// --- HOME ----
.home {
  text-align: center;

  h1 {
  font-weight: 700;
  font-size: 6em;
  padding-top: 250px;
  }

  p {
    font-size: 1.8em;
  }
}
// --- AUTH ------
.signup {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4);

  .btn-signup {
    font-weight: 600;
  }
}

.login {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4);

  .btn-login {
    font-weight: 600;
  }
}

.form-control {
  background-color: rgb(62, 62, 62);
  border: none;
  border-radius: none;
  color:white;

}

// ------ SHOP -------
.shop-index {
  padding: 30px;

  .products {
    margin: 15px;
    background-color: none;
    
    .card-product {
      color: black;
      background-color: white;
      //background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); //Para probarlo hay que descomentar este y comentar la linea de arriba
      justify-content: center;
      
    }
    .btn-product {
      font-weight: 600;
    }
    .card-img-top {
      height: 250px;
      object-fit: cover;
      object-position: center;
    } 
  }
}

  .product-details {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px;
    border-radius: 5px;

    h4 {
      margin: 20px;
    }
    .btn-buy{
      text-transform: uppercase;
    }
    .btn-edit {
      margin: 10px;
    }
  }
  .img-detail {
    width: 300px;
  }

  .product-index{

    img {
      width: 400px;
    }
  
    .message-field {
      height: 150px;
    }
  }
  .buying {

    text-align: center;
  
    img {
      width: 50%;
      margin: 20px 0;
      }
  }


// -- PLACES --
#myMap {
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: grey;
}

#albumMap {
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: grey;
}
h1 {
  font-weight: 600;
  margin: 20px ;
}
.place {
  margin-bottom: 25px;

  h4 {
    text-align: center;
    font-weight: 600;
  }

}
.star {
  width: 18px;
  margin: 0 0 5px 5px;
}

.btn-new {
  font-weight: 600;
  margin: 10px;
  margin-bottom: 50px;
  font-size: 1.1em;
}

.btn-back {
  font-weight: 600;
  margin: 10px;
  font-size: 1.1em;
  margin-bottom: 50px;
}

.input-localization {
  margin-bottom: 15px;
}




// -- PROFILE ----

.profile-pic {
  width: 250px;
  border-radius: 5px;
  margin-left: 230px;

}
.op-container {
  background-color: rgba(0, 0, 0, 0.4);
}
.option-container {
  margin: 30px;

  h1 {
    padding: 25px;
    font-weight: 700;
    text-align: center;
  }

  li {
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
  }

  .img-options {
    width: 100px;
    margin-left: 120px;
  }
}
.myPost {
  padding: 20px;
  border-radius: 5px;
}

.success {
  text-align: center;
  margin: 100px auto;

  h1{
    margin-bottom: 20px;
  }

  h2{ 
    margin: 30px;
  }

  h3{
    margin: 30px;
  }

  a {
    background-color: rgb(226, 225, 225);
    color: rgb(34, 34, 34);
  }

  a:hover{
    transition: .3s;
    font-size: 1.3em;
    background-color: rgb(57, 145, 57);
    color: rgb(226, 225, 225);
  }
}
