body {
  font-weight: 200;
  font-family: 'Hind Siliguri', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/images/vinyl3.jpeg');
  color: white;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  padding: 30px;
  margin-bottom: 70px;
  margin: 0 50px;
  font-size: 1.2em;
  font-weight: 700;

  .navbar-brand {
    font-size: 1.5em;
  }

  li {
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 10px;

    :hover {
      text-decoration: underline;  
    }
  }

  .logo-img {
    margin-right: 10px;
  }
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 5px;
}

.home {
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 6em;
    padding-top: 250px;
  }
  p {
    font-size: 2em;
  }
}


.signup {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4);

  h1{
    font-weight: 600;
  }
  .btn-signup {
    font-weight: 600;
  }
}

.login {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4);

  h1 {
    font-weight: 600;
  }
  .btn-login {
    font-weight: 600;
  }
}

.form-control {
  background-color: rgb(62, 62, 62);
  border: none;
  border-radius: none;
  color:white;
}

.profile-container {
  justify-content: center;
  padding: 20px;
  background-color: white;
  text-align: center;

  .profile {
    border: none;
  }
  .welcome {
    font-size: 2.5em;
  }
}

.options-container {
  padding: 20px;
  border-top: 0.5px solid grey;
  background-color: white;

  h1 {
    font-size: 2em;
    font-weight: 600;
  }
}

.products {
  margin: 20px;
  transition: 0.3s;

  .product {
    color:black;
  }
}

.card-img-top {
height: 250px;
object-fit: cover;
object-position: center;
} 
#myMap {
  height: 400px;
  background-color: grey;
}

.place {
  margin-bottom: 25px;

  
  h4 {
    text-align: center;
    font-weight: 600;
  }
}

.btn-new {
  font-weight: 600;
  margin: 10px;
  margin-bottom: 50px;
  font-size: 1.1em;
}

.btn-back {
  font-weight: 600;
  margin: 10px;
  font-size: 1.1em;
  margin-bottom: 50px;
}
