body {
  font-weight: 200;
  font-family: 'Hind Siliguri', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/vinyl3.jpeg");
  color: white; }

h1, h2, h3 {
  font-weight: 200; }

.title-view {
  font-weight: 700;
  font-size: 2.5em; }

.btn-new:hover {
  background-color: #3188ba;
  color: white;
  border: #3188ba; }

.btn-back:hover {
  background-color: #3188ba;
  color: white;
  border: #3188ba; }

.myItems:hover {
  color: #5bbdcb; }

.btn-see:hover {
  background-color: #3188ba;
  color: white;
  border: #3188ba; }

.btn-home:hover {
  background-color: #3188ba;
  color: white;
  border: #3188ba; }

.btn-del:hover {
  background-color: #a91f1f;
  color: white;
  border: #a91f1f; }

.btn-buy:hover {
  font-size: 1.5em; }

.logo-img:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 5px; }

.navbar {
  padding: 30px;
  margin-bottom: 70px;
  margin: 0 50px;
  font-size: 1.2em;
  font-weight: 700; }
  .navbar .navbar-brand {
    font-size: 1.5em; }
  .navbar .logo-navbar {
    font-size: 2em;
    font-weight: 100;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 5px;
    color: #9c2035; }
  .navbar li {
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 10px; }
    .navbar li :hover {
      font-size: 1.3em; }
  .navbar .logo-img {
    margin-right: 10px; }

.home {
  text-align: center; }
  .home h1 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 6em;
    padding-top: 250px; }
  .home p {
    font-size: 1.8em; }

.btn-home {
  font-size: 2em;
  padding: 10px 30px;
  font-weight: 600;
  margin: 10px; }

.signup {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4); }
  .signup .btn-signup {
    font-weight: 600; }
  .signup .btn-signup:hover {
    background-color: #3188ba;
    color: white;
    border: #3188ba; }

.login {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4); }
  .login .btn-login {
    font-weight: 600; }
  .login .btn-login:hover {
    background-color: #3188ba;
    color: white;
    border: #3188ba; }

.form-control {
  background-color: #3e3e3e;
  border: none;
  border-radius: none;
  color: white; }

.shop-index {
  padding: 30px; }
  .shop-index .products {
    margin: 15px;
    background-color: none; }
    .shop-index .products .card-product {
      color: black;
      background: linear-gradient(to right, white 0%, #f6f6f6 47%, #ededed 100%);
      justify-content: center; }
    .shop-index .products .btn-product {
      font-weight: 600; }
    .shop-index .products .card-img-top {
      height: 250px;
      object-fit: cover;
      object-position: center; }

.btn-edit {
  margin: 20px;
  margin-left: 100px; }

.btn-del {
  margin: 20px; }

.product-details {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px;
  border-radius: 5px; }
  .product-details h4 {
    margin: 20px; }
  .product-details .btn-buy {
    text-transform: uppercase;
    font-weight: 600; }

.img-detail {
  width: 300px; }

.product-index img {
  width: 400px; }

.product-index .message-field {
  height: 150px; }

.buying {
  text-align: center; }
  .buying img {
    width: 50%;
    margin: 20px 0; }

.price {
  font-size: 2em;
  font-weight: 600; }

#myMap {
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: grey; }

#albumMap {
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: grey; }

h1 {
  font-weight: 600;
  margin: 50px 0 30px 0; }

h2 {
  font-size: 3em;
  font-weight: 600;
  margin: 20px 0; }

span {
  font-style: italic; }

.row-places {
  margin-top: 50px; }

.place-all {
  font-size: 1.2em; }

.place-edit {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4); }

.place-new {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4); }

.place-detail-container {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.4); }
  .place-detail-container img {
    width: 250px; }

.edit-btn {
  margin-left: 10px; }

.place {
  margin-bottom: 25px; }
  .place h4 {
    text-align: center;
    font-weight: 600;
    font-size: 1.8em; }

.star {
  width: 18px;
  margin: 0 0 5px 5px; }

.btn-new {
  font-weight: 600;
  margin: 10px;
  margin-bottom: 50px;
  font-size: 1.1em; }

.btn-back {
  font-weight: 600;
  margin: 10px;
  font-size: 1.1em;
  margin-bottom: 50px; }

.input-localization {
  margin-bottom: 15px; }

.description-place {
  font-size: 1.7em;
  font-weight: 600; }

.profile-pic {
  width: 250px;
  border-radius: 5px;
  margin-left: 230px; }

.op-container {
  background-color: rgba(0, 0, 0, 0.4); }

.option-container {
  margin: 30px; }
  .option-container h1 {
    padding: 25px;
    font-weight: 700;
    text-align: center; }
  .option-container li {
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    font-weight: 700; }
  .option-container .img-options {
    width: 100px;
    margin-left: 120px; }

.myPost {
  padding: 20px;
  border-radius: 5px; }

.success {
  text-align: center;
  margin: 100px auto; }
  .success h1 {
    margin-bottom: 20px; }
  .success h2 {
    margin: 30px; }
  .success h3 {
    margin: 30px; }
  .success a {
    background-color: #e2e1e1;
    color: #222222; }
  .success a:hover {
    transition: .3s;
    font-size: 1.3em;
    background-color: #399139;
    color: #e2e1e1; }

/*# sourceMappingURL=style.css.map */