<div class="row details justify-content-center successful">
   <div class="col-md success">
        <h1>¡Mensaje enviado con éxito!</h1>
        <h2>En breves, el vendedor/a se pondrá en contacto contigo</h2>
        <h3>Mientras esperas, echa otro vistazo a la tienda</h3>
      
        <a href="/shop" class="btn btn-back">Volver a la tienda</a>  
   </div>
</div>
