<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title-view">Añade un nuevo producto</h1>
            <img src="/images/clinton-vinyl.jpg" alt="Clinton with vinyls">
        </div>

        <div class="col-md-6">

            <form action="/shop/new" method="POST">

                <div class="form-group">
                    <label for="title-input">Título</label>
                    <input name="title" type="text" class="form-control" id="title-input">
                </div>
                <div class="form-group">
                    <label for="artist-input">Artista</label>
                    <input name="artist" type="text" class="form-control" id="artist-input">
                </div>
                <div class="form-group">
                    <label for="genre-input">Género</label>
                    <input name="genre" type="text" class="form-control" id="genre-input">
                </div>
                <div class="form-group">
                    <label for="price-input">Precio</label>
                    <input name="price" type="text" class="form-control" id="price-input">
                </div>
                <div class="form-group">
                    <label for="description-input">Descripción</label>
                    <input name="description" type="text" class="form-control" id="description-input">
                </div>
                <div class="form-group">
                    <label for="condition-input">Condición</label>
                <select name="condition" class="form-control" id="condition-input">
                    <option>Seleccionar</option>
                    <option value="Nuevo">Nuevo</option>
                    <option value="Perfecto Estado">Perfecto Estado</option>
                    <option value="Buen Estado">Buen Estado</option>
                    <option value="Usado">Usado</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="location-input">Dirección</label>
                    <input name="latitude" type="text" class="form-control input-localization" placeholder="latitude" id="latitude-input">
                    <input name="longitude" type="text" class="form-control input-localization" placeholder="longitude" id="longitude-input">
                
                </div>
                <div class="form-group custm-input-file">
                    <label for="image-input">Foto del producto</label>
                    <input name="picture" type="file" class="form-control inputfile" id="image-input">
                </div>
                <button type="submit" class="btn btn-info btn-block btn-block">Publicar producto</button>
            </form>
        </div>

    </div>
</div>