<div class="title">
    <div class="col text-center">
        <h2>Tienda</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3 products">
        <div class="card product" style="width: 18rem;">
        <img class="card-img-top" src="/images/queen-live-at-wembley-86.jpg" alt="Foto vinyl">
        <div class="card-body">
            <h5 class="card-title">Product title | artist</h5>
            <p class="card-text">Género: Rock</p>
            <p class="card-text">Precio: 10$</p>
            <label for="condition-list">Condición:</label>
            <select name="park" class="form-control" id="condition-list">
                <option>Seleccionar</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Perfecto Estado">Perfecto Estado</option>
                <option value="Buen Estado" selected>Buen Estado</option>
                <option value="Usado">Usado</option>
            </select>
            <a href="/shop-details" class="btn btn-dark">Ver detalles</a>
        </div>
        </div>
    </div>

    <div class="col-md-3 products">
        <div class="card product" style="width: 18rem;">
        <img class="card-img-top" src="/images/queen-live-at-wembley-86.jpg" alt="Foto vinyl">
        <div class="card-body">
            <h5 class="card-title">Product title | artist</h5>
            <p class="card-text">Género: Rock</p>
            <p class="card-text">Precio: 10$</p>
            <label for="condition-list">Condición:</label>
            <select name="park" class="form-control" id="condition-list">
                <option>Seleccionar</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Perfecto Estado">Perfecto Estado</option>
                <option value="Buen Estado" selected>Buen Estado</option>
                <option value="Usado">Usado</option>
            </select>
            <a href="/shop-details" class="btn btn-dark">Ver detalles</a>
        </div>
        </div>
    </div>

    <div class="col-md-3 products">
        <div class="card product" style="width: 18rem;">
        <img class="card-img-top" src="./images/queen-live-at-wembley-86.jpg" alt="Foto vinyl">
        <div class="card-body">
            <h5 class="card-title">Product title | artist</h5>
            <p class="card-text">Género: Rock</p>
            <p class="card-text">Precio: 10$</p>
            <label for="condition-list">Condición:</label>
            <select name="park" class="form-control" id="condition-list">
                <option>Seleccionar</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Perfecto Estado">Perfecto Estado</option>
                <option value="Buen Estado" selected>Buen Estado</option>
                <option value="Usado">Usado</option>
            </select>
            <a href="/shop-details" class="btn btn-dark">Ver detalles</a>
        </div>
        </div>
    </div>

    <div class="col-md-3 products">
        <div class="card product" style="width: 18rem;">
        <img class="card-img-top" src="/images/queen-live-at-wembley-86.jpg" alt="Foto vinyl">
        <div class="card-body">
            <h5 class="card-title">Product title | artist</h5>
            <p class="card-text">Género: Rock</p>
            <p class="card-text">Precio: 10$</p>
            <label for="condition-list">Condición:</label>
            <select name="condition" class="form-control" id="condition-list">
                <option>Seleccionar</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Perfecto Estado">Perfecto Estado</option>
                <option value="Buen Estado" selected>Buen Estado</option>
                <option value="Usado">Usado</option>
            </select>
            <a href="/shop-details" class="btn btn-dark">Ver detalles</a>
        </div>
        </div>
    </div>
</div>